@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*  
font-family: 'Barlow', sans-serif;
font-family: 'Poppins', sans-serif; 
*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
    scroll-behavior: smooth;
}

.marketing{
    width: 100vw;
    min-height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.63);
}

#fechar{
    align-self: start;
    margin-top: 10px;
    color: #b3b3b3b6;
    border-radius: 50%;
    font-size: 18px;
    padding: 10px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.marketing-img{
    width: 30%;
    height: 30%;
}

.marketing-img img{
    width: 100%;
    height: 100%;
}

.whatsapp-icon{
    position: fixed;
    font-size: 3rem;
    bottom: 2%;
    left: 2%;
    z-index: 5;
}

.whatsapp-icon a i{
    background-color: #02b502;
    border-radius: 10%;
    padding: 10px;
    transition: linear .2s;
}

.whatsapp-icon a i:hover{
    font-size: 5rem;
}

.voltar-cima{
    display: none;
}

.voltar-cima i{
    position: fixed;
    font-size: 40px;
    color: white;
    background-color: green;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    bottom: 10px;
    right: 10px;
    transition: all .4s;
    z-index: 5;
}

.voltar-cima i:hover{
    background-color: yellow;
    color: black;
}

.section{
    width: 100%;
}

.header{
    display: flex;
    width: 100%;
    height: 80px;
    background-color: whitesmoke;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
}

.header .logo-header .logo-img{
    height: 60px;
}

.header .nav-items{
    list-style-type: none;
    display: flex;
    font-size: 1.2em;
}

.header .nav-items .nav-links{
    text-decoration: none;
    color: black;
    margin-right: 20px;
    padding: 8px;
    border-radius: 10px;
}

#orcamento{
    background-color: yellow;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    transition: all .3s;
}

#orcamento:hover{
    animation: orcamento-hover infinite 2s;
}

@keyframes orcamento-hover {
    0%{
        background-color: yellow;
    }

    50%{
        background-color: green;
        background-position: 10%;
        color: white;
    }

    100%{
        background-color: yellow;
        background-position: 10%;
        color: black;
    }
}

.menu-header-mobile{
    display: none;
}

.banner{
    width: 90%;
    margin: 0 auto;
    position: relative;
}

.banner img{
    width: 100%;
    max-height: 120px;
}

.division{
    width: 90%;
    background-color: rgba(128, 128, 128, 0.212);
    height: 2px;
    margin: 10px auto;
}

.carousel .owl-carousel{
    position: relative;
}

.carousel .owl-carousel .item img{
    max-height: 600px;
    width: 90%;
    margin: 0 auto;
    position: relative;
}

.carousel .owl-carousel .item .texto{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: white;
}

.carousel .owl-carousel .item .texto h1{
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 2px 3px 15px rgba(0, 0, 0, 0.445);
}

#titulo-carousel-1{
    animation: slideInLeft;
    animation-duration: 3s;
}

#titulo-carousel-2{
    animation: slideInRight;
    animation-duration: 3s;
    animation-delay: 8.4s;
}

#titulo-carousel-3{
    animation: slideInDown;
    animation-duration: 3s;
    animation-delay: 16.4s;
}

.carousel .owl-carousel .item .texto p{
    text-align: center;
    color: #fff;
    width: 100%;
    font-size: 20px;
    text-shadow: 2px 3px 15px rgba(0, 0, 0, 0.445);
}

#subtitulo-carousel-1{
    animation: slideInUp;
    animation-duration: 3s;
}

#subtitulo-carousel-2{
    animation: slideInUp;
    animation-duration: 3s;
    animation-delay: 8.4s;
}

#subtitulo-carousel-3{
    animation: slideInUp;
    animation-duration: 3s;
    animation-delay: 16.4s;
}

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 10px;
    position: absolute;
    width: 100%;
    bottom: 2%;
}

.titulo-padrao{
    margin: 10px 0 0px 0;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    
}

.conteudo-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conteudo-section .caixas-categ{
    padding: 30px 0px 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3%;
    flex-wrap: wrap;
    width: 100%;
}

.caixas-promocoes{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3%;
    margin: 15px 0;
    flex-wrap: wrap;
}

.link-catalogo{
    background-color: #02b502;
    padding: 5px 20px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.link-catalogo:hover{
    animation: link-compra infinite 2s;
}

.categorias .caixas{
    max-width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
    margin-bottom: 6px;
    box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.329);
    border-radius: 10px;
}

.categorias .caixas .imagem-caixa{
    transition: all .3s;
    width: 100%;
    height: 100%;
}

.categorias .caixas .imagem-caixa img,
.promocoes-semana .caixas-promo .imagem-caixa img{
    height: 100%;
    width: 100%;
}

.categorias .caixas .titulo-categoria{
    position: absolute;
    top: 0;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    opacity: 0;
    font-size: 1.5rem;
    color: white;
    text-shadow: 3px 4px 5px black;
    text-align: center;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.527);
    transition: linear .5s;
}

.promocoes-semana .caixas-promo{
    max-width: 350px;
    height: 100%;
    margin-bottom: 6px;
    box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.329);
    position: relative;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.promocoes-semana .caixas-promo .nome-produto{
    padding: 2px 0px 10px 0px;
    width: 100%;
    font-size: 20px;
    text-align: center;
    color: black;
}

.promocoes-semana .caixas-promo .porcentagem-desconto{
    position: absolute;
    font-size: 20px;
    border-radius: 10px;
    color: #fff;
    background-color: rgba(5, 192, 5, 0.678);
    font-weight: bold;
    top: 1px;
    left: 2px;
    padding: 1px 3px;
}

.promocoes-semana .caixas-promo .valores{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 5px;
}

.promocoes-semana .caixas-promo .valores .valor-cheio{
    font-size: 18px;
    color: rgba(128, 128, 128, 0.541);
    text-decoration: line-through;
    font-style: italic;
}

.promocoes-semana .caixas-promo .valores .valor-desconto{
    font-size: 30px;
    color: green;
    font-weight: bold;
    font-style: italic;
}

.promocoes-semana .caixas-promo .valores .valor-cheio .letras, 
.promocoes-semana .caixas-promo .valores .valor-desconto .letras{
    font-size: 10px;
    margin-right: 10px;
    color: black;
}

.promocoes-semana .caixas-promo .botoes-compra{
    display: flex;
    flex-direction: column;
}

.promocoes-semana .caixas-promo .botoes-compra .link-compra{
    padding: 5px 10px;
    color: white;
    background-color: green;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px;
    transition: all .3s;
    font-weight: bold;
}

.promocoes-semana .caixas-promo .botoes-compra .link-saber-mais{
    padding: 5px 10px;
    color: white;
    background-color: cornflowerblue;
    font-size: 17px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px;
    transition: all .3s;
    font-weight: bold;
    margin-top: 2px;
    text-align: center;
}

.promocoes-semana .caixas-promo .botoes-compra .link-saber-mais:hover{
    background-color: rgb(76, 113, 182);
}


.promocoes-semana .caixas-promo .mensagem{
    font-size: 10px;
    color: red;
    padding: 5px;
}

.promocoes-semana .caixas-promo .link-compra:hover{
    animation: compra-link infinite 2s;
}

@keyframes compra-link {
    0%{
        background-color: green;
        color: white;
    }

    50%{
        background-color: yellow;
        color: black;
    }

    100%{
        background-color: green;
        color: white;
    }
}

.footer{
    background-color: rgba(216, 216, 216, 0.199);
    width: 100%;
}

.footer .up-footer{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding: 30px 10px;
}

.footer .logo-footer{
    align-self: center;
}

.footer .logo-footer .img-footer{
    max-width: 500px;
    margin-right: 10px;
}

.footer .logo-footer .img-footer img{
    width: 100%;
}

.footer .horarios,
.footer .localizacao{
    text-align: center;
}

.titulo-footer{
    margin-bottom: 10px;
    font-size: 25px;
}

.footer .lista-horarios{
    list-style-type: none;
}

.footer .lista-horarios li{
    display: flex;
    flex-direction: column;
}

.footer .lista-horarios .dias-footer{
    font-weight: bold;
    font-size: 18px;
}

.footer .localizacao .mapa-footer{
    width: 100%;
    height: 200px;
}

.footer .down-footer{
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.438);
    color: #fff;
    padding: 5px 0px;
}

/* ABOUT PAGE */

.banner .nav-banner{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
}

.banner .nav-banner p::selection,
.banner .nav-banner p a::selection,
.banner .nav-banner h1::selection,
.banner .nav-banner p span::selection{
    background-color: red;
    color: white;
}

.banner .nav-banner h1{
    font-size: 30px;
    text-transform: uppercase;
}

.banner .nav-banner h1::before, 
.banner .nav-banner h1::after{
    content: " - ";
    color: red;
}

.banner .nav-banner p{
    color: #8b8b8bb6;
    font-style: italic;
}

.banner .nav-banner p a{
    color: black;
    text-decoration: none;
    font-weight: 400;
}

.banner .nav-banner p a:hover{
    color: red;
}

.banner .nav-banner p span{
    color: red;
    font-weight: bolder;
}

.about{
    width: 100%;
}

.about .container_about{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: whitesmoke;
    padding: 50px 15px;
    gap: 2%;
}

.about .container_about .imgabout{
    max-width: 400px;
    height: 400px;
}

.about .imgabout img{
    width: 100%;
    height: 100%;
}

.about .container_about .description{
    max-width: 600px;
}

.about .container_about .description h1{
    font-size: 40px;
    margin-bottom: -5px;
}

.about .container_about .description h1 span{
    color: red;
    text-decoration: underline;
}

.about .container_about .description h3{
    font-weight: normal;
}

.about .container_about .description p{
    padding: 10px 10px;
    text-align: justify;
    background-color: rgba(128, 128, 128, 0.151);
    border-radius: 10px;
}

.about .accordion{
    width: 60%;
    margin: 30px auto;
    background-color: transparent;
    color: black;
    padding: 2px;
    border-radius: 5px;
}

.about .accordion .accordion_container .accordion_title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    cursor: pointer;
    border-bottom: 1px solid black;
    padding: 20px 10px 0px 10px;
    margin: 10px 0;
    transition: all .3s;
}

.about .accordion .accordion_container .accordion_title:hover{
    color: red;
}

.chevron{
    transform: rotateX(180deg);
    transition: all .5s;
}

.active{
    color: red;
}

.about .accordion .accordion_container .accordion_content{
    text-align: justify;
    display: none;
    background-color: white;
    color: black;
    padding: 10px;
    font-size: 14px;
    border-bottom: 1px dotted lightgray;
    text-indent: 20px;
}

/* ABOUT PAGE END */

/* CATALOG PAGE */

.catalogo{
    min-height: 100vh;
    object-fit: cover;
}

.catalogo iframe{
    height: 100vh;  
}

/* CATALOG PAGE END */

/* PRODUCT SINGLE */

    .product-single{
        width: 100%;
        min-height: 100vh;
    }

    .product-single-container{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 150px 50px;
        align-items: start;
        background-color: black;
        gap: 5px;
    }

    .product-single-container .img-product-single{
        position: relative;
        display: flex;
        background-color: whitesmoke;
        border-radius: 10px;
    }

    .product-single-container .img-product-single .img-wrapper {
        width: 600px;
        height: 600px;
        margin-right: 5px;
        display: flex;
        overflow-x: hidden;
        scroll-padding: 0px;
        scroll-snap-type: x mandatory;
        align-items: center;
        scroll-behavior: smooth;
        border-left: 3px solid black;
    }

    .product-single-container .img-product-single .nav-btn{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: 0;
        z-index: 1;
        padding: 8px;
        position: absolute;
        gap: 2%;
    }

    .product-single-container .img-product-single .nav-btn a img{
        width: 80px;
        height: 80px;
        background-color: rgb(224, 224, 224);
        border-radius: 10px;
        transition: all .5s linear;
        object-fit: contain;
    }

    .product-single-container .img-product-single .nav-btn a img:hover{
        background-color: rgb(168, 168, 168);
    }

    .product-single-container .img-product-single .img-wrapper img{
        width: 100%;
        height: 100%;
        scroll-snap-align: start;
    }

    .product-single-container .right-place{
        width: 600px;
        height: 600px;
        padding: 0px 30px;
        box-shadow: 5px 5px 15px rgba(255, 0, 0, 0.288);
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
    }

    .product-single-container .right-place .titulo-produto{
        margin-bottom: 10px;
    }

    .product-single-container .right-place .titulo-produto h1{
        font-size: 40px;
        font-weight: normal;
        font-family: 'barlow', sans-serif;
    }

    .product-single-container .right-place .titulo-produto p{
        font-size: 13px;
        color: lightgray;
    }

    .product-single-container .right-place .titulo-produto .stars span{
        font-size: 15px;
        margin-left: 5px;
        color: rgb(34, 34, 34);
    }

    .product-single-container .right-place .titulo-produto .stars i{
        font-size: 15px;
        margin-top: 5px;
        color: rgb(228, 228, 2);
    }

    .product-single-container .right-place .descricao-produto{
        text-align: justify;
        font-family: 'barlow', sans-serif;
        margin-bottom: 10px;
        font-size: 15px;
    }

    .product-single-container .valor-produto .valor-riscado{
        text-decoration: line-through;
        color: rgb(156, 156, 156);
    }

    .product-single-container .valor-produto .valor-atual{
        font-size: 45px;
        display: flex;
        align-items: start;
        border: none;
    }

    .product-single-container .valor-produto .valor-atual::after{
        content: 'Á vista no PIX';
        font-size: 13px;
        font-style: italic;
        font-weight: bold;
        color: rgb(2, 184, 2);
        margin-left: 5px;
        margin-top: 10px;
    }

    .product-single-container .valor-produto .dividir{
        font-size: 25px;
        font-style: italic;
        display: flex;
        align-items: start;
        margin-bottom: 25px;
    }

    .product-single-container .valor-produto .dividir::after{
        content: 'Sem Juros';
        font-size: 10px;
        font-style: italic;
        font-weight: bold;
        color: rgb(2, 184, 2);
        margin-left: 5px;
        margin-top: 3px;
    }

    .product-single-container .valor-produto .comprar-btn-product-single{
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .product-single-container .comprar-btn-product-single .ficha-tecnica .ficha-tecnica-btn{
        padding: 10px 25px;
        background-color: cornflowerblue;
        border-radius: 10px;
        text-decoration: none;
        font-weight: bold;
        color: white;
    }

    .product-single-container .valor-produto .comprar-btn-product-single a{
        padding: 10px 25px;
        background-color: #02b502;
        border-radius: 10px;
        text-decoration: none;
        font-weight: bold;
        color: white;
    }

    .modal-detalhes{
        width: 20%;
        min-height: 100vh;
        background-color: #e9e9e9;
        position: fixed;
        top: 0;
        right: -100%;
        padding: 0px 10px;
        /* display: none; */
        transition: 400ms;
        z-index: 5;
    }

    .modal-detalhes .fechar-btn{
        text-align: right;
        margin-right: 2%;
        margin-top: 2%;
        cursor: pointer;
        color: #9b9b9b;
    }

    .modal-detalhes h1{
        margin-bottom: 50px;
    }

    .modal-detalhes ul li{
        list-style-type: none;
        margin-bottom: 10px;
    }


/* PRODUCT SINGLE END */

/* POLITICS */

    .politics{
        width: 100%;
        padding: 50px 0px 50px 150px;
        min-height: 100vh;
        font-family: 'barlow', sans-serif;
    }

    .politics .politics-list{
        list-style-type: decimal;
    }

    .politics .politics-list .politic-items{
        padding: 10px 0px;
    }

    .politics .politics-list .politic-items .politic-title{
        color: red;
        font-weight: bold;
        font-size: 25px;
    }

    .politics .politics-list .politic-items .politic-answer{
        text-indent: 30px;
        text-align: justify;
        max-width: 70%;
    }

    .politics .mensagem-final{
        text-align: center;
        margin: 50px auto;
        max-width: 600px;
        background-color: rgb(209, 209, 209);
        padding: 15px;
        border-radius: 15px;
        position: relative;
    }

    .politics .mensagem-final i{
        font-size: 100px;
        color: rgba(231, 0, 0, 0.185);
        position: absolute;
        top: -37%;
        left: -3%;
        transform: rotate(22deg);
    }


/* POLITICS END */



















@media screen and (max-width: 700px){
    .header{
        z-index: 5;
        top: 0;
    }

    .marketing-img{
        width: 90%;
        height: 90%;
    }

    .marketing{
        flex-direction: column-reverse;
    }

    .menu-header-mobile{
        display: block;
    }

    .mobile-btn i{
        font-size: 30px;
        cursor: pointer;
    }

    .nav-items-mobile{
        display: none;
        flex-direction: column;
        justify-content: space-around;
        position: absolute;
        height: 60vh;
        width: 100%;
        left: 0;
        top: 80px;
        background-color: gray;
        text-align: center;
        padding: 0px 20px;
        list-style: none;
        z-index: 99999;
    }

    .header .nav-items{
        display: none;
    }

    .nav-links-mobile{
        text-decoration: none;
        color: black;
        padding: 8px;
        border-radius: 10px;
        display: block;
        background-color: white;
        padding: 20px;
    }

    .carousel .owl-carousel .item img{
        width: 100%;
    }

    .carousel .owl-carousel .item .texto h1{
        font-size: 20px;
    }

    .footer .up-footer{
        flex-direction: column;
        justify-content: center;
    }

    .footer .horarios{
        margin: 0 auto;
        margin-bottom: 25px;
    }

    .banner{
        width: 100%;
    }

    .banner .nav-banner h1{
        font-size: 20px;
    }

    .banner .nav-banner p{
        font-size: 10px;
    }

    .about .container_about {
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    .about .container_about .description h1 {
        font-size: 30px;
    }

    .about .accordion{
        width: 100%;
    }

    .product-single-container{
        padding: 40px 10px;
    }

    .product-single-container .img-product-single{
        margin-bottom: 10px;
        flex-direction: column-reverse;
    }

    .product-single-container .img-product-single .nav-btn{
        flex-direction: row;
        width: 100%;
    }

    .product-single-container .img-product-single .nav-btn a img{
        width: 50px;
        height: 50px;
    }

    .product-single-container .img-product-single .img-wrapper{
        width: 100%;
        height: 100%;
        border: none;
    }

    .product-single-container .valor-produto .comprar-btn-product-single{
        flex-direction: column;
        align-items: start;
    }

    .modal-detalhes{
        width: 100%;
    }

    .politics{
        padding: 0;
        text-align: center;
    }

    .politics .politics-list .politic-items .politic-answer{
        text-indent: 30px;
        text-align: center;
        max-width: 100%;
        padding: 0 5px;
        font-size: 15px;
    }

    .politics .politics-list .politic-items .politic-title{
        font-size: 18px;
        padding: 0px 5px;
    }
}




